.add-profile {
  padding-top: 52px;
  padding-bottom: 38px;
}

.add-profile__business-link {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $basic-blue-light;
}
