.location {
  padding: 35px 0;
  color: $basic-blue;
  background-color: $basic-yellow;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.location__address {
  margin-bottom: 32px;
}
