.teammate-search-form {
  width: 100%;
  padding: 26px 20px 22px;
  background-color: $basic-yellow;
  border-radius: 20px;

  @media (min-width: $tablet) {
    padding: 37px 35px;
  }

  @media (min-width: $desktop) {
    padding: 46px 46px 48px;
  }
}

.teammate-search-form__title {
  font-size: 22px;
  line-height: 22px;
  color: $basic-blue-light;
}

.teammate-search-form__button {
  width: 100%;
}
